
.chats-sheet-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--outline-variant);
    border-radius: 40px;
    margin: 20px;
    padding: 20px 0 0;
    width: clamp(300px, calc(.3 * 100vw), 350px);
    height: calc(100vh - 40px);
    box-sizing: border-box;
    overflow: hidden;

}
.chats-sheet-create-button {
    margin-top: 10px;
    margin-bottom: 5px;
    align-self: center;
}

.chats-sheet-header {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chats-sheet-title {
    align-self: center;
    color: var(--on-background);
    font-size: 22px;
    line-height: 28px;
    font-weight: 900;
    font-style: italic;
}

.chats-sheet-content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}