.ai-chat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.ai-chat-box-input-row {
    display: flex;
    align-items: end;
    gap: 10px;
}

