html {
    --d-primary: #B0C6FF;
    --d-on-primary: #152E60;

    --d-secondary: #C0C6DC;
    --d-on-secondary: #293042;

    --d-tertiary: #E0BBDD;
    --d-on-tertiary: #412742;

    --d-container-low: #1A1B21;
    --d-container: #1E1F25;
    --d-container-high: #282A2F;
    --d-container-highest: #33343A;

    --d-primary-container: #2E4578;
    --d-on-primary-container: #D9E2FF;

    --d-secondary-container: #404659;
    --d-on-secondary-container: #DCE2F9;

    --d-tertiary-container: #593D5A;
    --d-on-tertiary-container: #FDD7FA;

    --d-background: #141218;
    --d-on-background: #E6E0E9;


    --l-primary: #485E92;
    --l-on-primary: #FFFFFF;

    --l-secondary: #585F72;
    --l-on-secondary: #FFFFFF;

    --l-tertiary: #E0BBDD;
    --l-on-tertiary: #FFFFFF;

    --l-container-low: #F4F3FA;
    --l-container: #EEEDF4;
    --l-container-high: #E8E7EF;
    --l-container-highest: #E2E2E9;

    --l-primary-container: #ADC3FE;
    --l-on-primary-container: #324574;

    --l-secondary-container: #D9DFF6;
    --l-on-secondary-container: #404659;

    --l-tertiary-container: #FBD4F7;
    --l-on-tertiary-container: #593D5A;

    --l-background: #FDF7FF;
    --l-on-background: #1D1B20;
}