
.hoverable:hover {
    filter: brightness(85%);
}

.clickable {
    cursor: pointer;
}

/* not in .clickable: fix blinking on theme switch */
.clickable:hover {
    transition: transform 200ms;
}

.clickable:active {
    transform: scale(0.95);
    filter: brightness(75%);
}