html {
    --winner: 0;
    --hinner: 0
}


.hoverable:hover {
    filter: brightness(85%);
}

.clickable {
    --clickable-transition: var(--theme-transition), transform 200ms;
    cursor: pointer;
    transition: var(--clickable-transition);
}

.clickable:active {
    transform: scale(0.95);
    filter: brightness(75%);
}