* {
  transition:
          color calc(300ms * var(--enable-theme-transitions)),
          background-color calc(300ms * var(--enable-theme-transitions)),
          border-color calc(300ms * var(--enable-theme-transitions)),
          box-shadow calc(300ms * var(--enable-theme-transitions));
}

html {
  /* workaround: skip initial animation (will be 1 after 100ms) */
  --enable-theme-transitions: 0;
  --primary: light-dark(var(--l-primary), var(--d-primary));
  --on-primary: light-dark(var(--l-on-primary), var(--d-on-primary));

  --secondary: light-dark(var(--l-secondary), var(--d-secondary));
  --on-secondary: light-dark(var(--l-on-secondary), var(--d-on-secondary));

  --tertiary: light-dark(var(--l-tertiary), var(--d-tertiary));
  --on-tertiary: light-dark(var(--l-on-tertiary), var(--d-on-tertiary));

  --container-low: light-dark(var(--l-container-low), var(--d-container-low));
  --container: light-dark(var(--l-container), var(--d-container));
  --container-high: light-dark(var(--l-container-high), var(--d-container-high));
  --container-highest: light-dark(var(--l-container-highest), var(--d-container-highest));

  --primary-container: light-dark(var(--l-primary-container), var(--d-primary-container));
  --on-primary-container: light-dark(var(--l-on-primary-container), var(--d-on-primary-container));

  --secondary-container: light-dark(var(--l-secondary-container), var(--d-secondary-container));
  --on-secondary-container: light-dark(var(--l-on-secondary-container), var(--d-on-secondary-container));

  --tertiary-container: light-dark(var(--l-tertiary-container), var(--d-tertiary-container));
  --on-tertiary-container: light-dark(var(--l-on-tertiary-container), var(--d-on-tertiary-container));

  --background: light-dark(var(--l-background), var(--d-background));
  --on-background: light-dark(var(--l-on-background), var(--d-on-background));



  --d-primary: #B0C6FF;
  --d-on-primary: #152E60;

  --d-secondary: #C0C6DC;
  --d-on-secondary: #293042;

  --d-tertiary: #E0BBDD;
  --d-on-tertiary: #412742;

  --d-container-low: #1A1B21;
  --d-container: #1E1F25;
  --d-container-high: #282A2F;
  --d-container-highest: #33343A;

  --d-primary-container: #2E4578;
  --d-on-primary-container: #D9E2FF;

  --d-secondary-container: #404659;
  --d-on-secondary-container: #DCE2F9;

  --d-tertiary-container: #593D5A;
  --d-on-tertiary-container: #FDD7FA;

  --d-background: #141218;
  --d-on-background: #E6E0E9;





  --l-primary: #485E92;
  --l-on-primary: #FFFFFF;

  --l-secondary: #585F72;
  --l-on-secondary: #FFFFFF;

  --l-tertiary: #E0BBDD;
  --l-on-tertiary: #FFFFFF;

  --l-container-low: #F4F3FA;
  --l-container: #EEEDF4;
  --l-container-high: #E8E7EF;
  --l-container-highest: #E2E2E9;

  --l-primary-container: #ADC3FE;
  --l-on-primary-container: #324574;

  --l-secondary-container: #D9DFF6;
  --l-on-secondary-container: #404659;

  --l-tertiary-container: #FBD4F7;
  --l-on-tertiary-container: #593D5A;

  --l-background: #FDF7FF;
  --l-on-background: #1D1B20;
}