.preview-iframe {
    height: var(--hinner);
    width: var(--winner);
}

.preview-chat-wrapper {
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(85, 85, 85, 0.7);
    backdrop-filter: blur(10px);

    border-radius: 16px;
    border: 0 solid transparent;
    margin: 50px 15px;

    width: clamp(300px, calc(.6 * 100vw), 450px);


    z-index: 1000
}

.preview-chat-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0px 10px;
}

.chat-messages-container-width-custom {
    width: 100%;
}

.chat-content-preview {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}