.select-button-container {
    border: 0;
    border-radius: 18px;
    padding: 10px;

    font-weight: 530;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}
.select-button-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}