.textbox-container {
    display: flex;
    height: 60px;

    border-radius: 100px;
    width: fit-content;
}

.textbox {
    padding-left: 30px;
    width: fit-content;


    font-weight: 600;
    font-size: 16px;
    vertical-align: middle;

    border: none;
    outline: none;

    caret-color: var(--primary);
    background-color: transparent
}

.textbox::placeholder {
    color: var(--on-background);
    opacity: .7;
}

.trailing-icon {
    display: flex;
    align-items: center;
    padding-right: 10px;
}