.outlined-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    column-gap: 8px;
    
    height: 32px;
    width: fit-content;
    padding: 6px 16px 6px 8px;

    border: 1px solid var(--primary);
    border-radius: 16px;
    border-color: var(--outline-variant);
    
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}