.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    
    height: 32px;
    width: 134px;
    border: 1px solid;
    border-radius: 16px;
    
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
}
.icon{
    height: 18px;
    width: 18px;
}