.chat-page {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 100dvh;
}


.chat-content {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}


.chat-input-container {

    align-self: end;

    position: fixed;
    z-index: 3;

    padding-bottom: var(--bottom-chatbox-padding);
}

.chat-messages-scroll-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    overflow-y: scroll;
    overflow-x: hidden;
    

    scrollbar-color: var(--on-background);
    align-items: center;
}

.chat-messages-container {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    display: flex;
    flex-direction: column;
}


@media (width < 1200px ) {
    /* small screen */
    .desktop-chats-sheet {
        display: none;
    }

    .chat-messages-container {
        width: calc(var(--winner) - 15px);
        max-width: min(800px, calc(var(--winner)));
    }
}

@media (width >= 1200px ) {
    .chat-messages-container {
        width: min(800px, (.8 * var(--winner)));
    }
}

@media (hover: hover) {
    /*only for Desktop*/
    .chat-page-highlight-blur {
        position: fixed;

        align-self: end;
        background-color: var(--primary-container);
        width: min(700px, (.5 * var(--winner)));
        height: 20px;
        filter: blur(100px);

        border-radius: 30px;
        z-index: 2;
        margin-bottom: 85px;
    }

    .chat-page {
        --bottom-chatbox-padding: 70px
    }
}

@media (hover: none) {
    .chat-page {
        --bottom-chatbox-padding: 30px
    }
}