.chat-page {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 100dvh;
}

@media (width < 1200px ) {
    .desktop-chats-sheet {
        display: none;
    }
}

.chat-content {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}


.chat-input-container {

    align-self: end;

    position: fixed;
    z-index: 3;

    padding-bottom: var(--bottom-chatbox-padding);
}
.chat-messages-container {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;

    width: min(800px, (.8 * var(--winner)));
    scrollbar-color: var(--on-background);
}

@media (hover: hover) { /*only for Desktop*/
    .chat-page-highlight-blur {
        position: fixed;

        align-self: end;
        background-color: var(--primary-container);
        width: min(700px, (.5 * var(--winner)));
        height: 20px;
        filter: blur(100px);

        border-radius: 30px;
        z-index: 2;
        margin-bottom: 85px;
    }
}

@media (hover: hover) {
    .chat-page {
        --bottom-chatbox-padding: 70px
    }
}
@media (hover: none) {
    .chat-page {
        --bottom-chatbox-padding: 30px
    }
}
