.chat-page {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0;
    width: 100%;

    height: 100dvh;
}


.chat-input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    padding: 20px 0 70px;
}
@media (hover: hover) {
    .chat-input-container {
        padding: 20px 0 70px;
    }
}
@media (hover: none) {
    .chat-input-container {
        padding: 20px 0 30px;
    }
}

.chat-messages-container {
    display: flex;
    flex-direction: column;


    justify-items: center;
    align-items: center;
    scrollbar-color: var(--on-background);
}

.overlay {
    position: fixed;
    z-index: 99;
}

@media (hover: hover) {
    .highlight-blur {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        justify-self: center;
        background-color: var(--primary-container);
        width: 100%;
        height: 30px;
        filter: blur(100px);

        border-radius: 30px;
        z-index: 50;
        margin-bottom: 85px;
    }
}